            .backg {
                background-color:  rgb(2,178,181);
                color: #FFF;
            }
            
            .backg-two {
                background-color:  rgb(2,178,181);
                color: #FFF;
            }
            
            .backg-three {
                background-color:  #0099FF;
            }
            
            .lock {
                background-color: #D4D4D4;
                 color: #000;
            }
            a{
              cursor:pointer;
            }
            
            
            