body{
	padding: 0;
	margin:auto;
	height: 100%;
	overflow-x: hidden;
	font-size:100%;
}
*{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color:transparent;
}
.headTipP{
	position: fixed;
	width: 100%;
	height: 45px;
	background: #FFFFFF;
	z-index: 1005;
}
.titpP{
	margin-top: 10px;
	float: left;
	text-align: center;
	font-weight: 600;
	font-size: 50%;
	width: 100%;
}
.choose{
	width: 100%;
	height: 0.8rem;
	margin-top: 45px;
	font-size: 50%;
	overflow:hidden;
	padding-left:22%; 
	background: #FFFFFF;
	border-bottom: 0.01rem solid #CCCCCC;
	z-index: 1005;
}
.underline{
	 width: 2rem;
	 height: 3px;
	 background:#FF7A3F;
	 margin-top: -3px;
	 margin-left: 22%;
	 z-index: 1010;
}
.underRight{
	animation:underRight 0.6s;
    -moz-animation:underRight 0.6s; 
    -webkit-animation:underRight 0.6s; 
    -o-animation:underRight 0.6s; 
    -webkit-animation-fill-mode:forwards;
    animation-fill-mode: forwards;
}
@keyframes underRight
{
from {margin-left: 22%}
to {margin-left:62.5%}
}

@-moz-keyframes underRight
{
from {margin-left: 22%}
to {margin-left: 62.5%}
}

@-webkit-keyframes underRight
{
from {margin-left: 22%}
to {margin-left: 62.5%}
}

@-o-keyframes underRight
{
from {margin-left: 22%}
to {margin-left: 62.5%}
}
.underLeft{
	animation:underLeft 0.6s;
    -moz-animation:underLeft 0.6s; 
    -webkit-animation:underLeft 0.6s; 
    -o-animation:underLeft 0.6s; 
    -webkit-animation-fill-mode:forwards;
    animation-fill-mode: forwards;
}
@keyframes underLeft
{
from {margin-left: 62.5%}
to {margin-left: 22%}
}

@-moz-keyframes underLeft
{
from {margin-left: 62.5%}
to {margin-left: 22%}
}

@-webkit-keyframes underLeft
{
from {margin-left: 62.5%}
to {margin-left: 22%}
}

@-o-keyframes underLeft
{
from {margin-left: 62.5%}
to {margin-left: 22%}
}
.titpanel{
	height: 100%;
	width: 100%;
	overflow-y:scroll;
	overflow-x:hidden;
	position: absolute;
	-webkit-overflow-scrolling: touch;
}
.orderL{
	padding: 1rem;
	border-bottom:1px solid #CCCCCC;
}
.start{
	margin-top: 0.3rem;
}
.end{
	margin-top: 0.4rem;
}
.endT{
	margin-top: 0.4rem;
}
.butn{
	margin-left: 70%;
	float: left;
	font-size: 50%;
	position: absolute;
	background:#FF7A3F;
	color: #FFFFFF;
	border-radius: 2px;
	height: 0.9rem;
	width: 1.8rem;
	text-align: center;
	line-height: 0.9rem;
}
.titLeft{
	animation:titleft 0.6s;
    -moz-animation:titleft 0.6s; 
    -webkit-animation:titleft 0.6s; 
    -o-animation:titleft 0.6s; 
    -webkit-animation-fill-mode:forwards;
    animation-fill-mode: forwards;
}
@keyframes titleft
{
from {margin-left: 0%}
to {margin-left:-100%}
}

@-moz-keyframes titleft
{
from {margin-left: 0%}
to {margin-left:-100%}
}

@-webkit-keyframes titleft
{
from {margin-left: 0%}
to {margin-left:-100%}
}

@-o-keyframes titleft
{
from {margin-left: 0%}
to {margin-left:-100%}  
}
.titRight{
	animation:titRight 0.6s;
    -moz-animation:titRight 0.6s; 
    -webkit-animation:titRight 0.6s; 
    -o-animation:titRight 0.6s; 
    -webkit-animation-fill-mode:forwards;
    animation-fill-mode: forwards;
}
@keyframes titRight
{
from {margin-left: -100%}
to {margin-left:0%}
}

@-moz-keyframes titRight
{
from {margin-left: -100%}
to {margin-left:0%}
}

@-webkit-keyframes titRight
{
from {margin-left: -100%}
to {margin-left:0%}
}

@-o-keyframes titRight
{
from {margin-left: -100%}
to {margin-left:0%} 
}

.showOrder{
	width: 100%;
	height: 100%;
	background: #FFFFFF;
	position: fixed;
	z-index: 2000;
	animation:showOrder 0.6s;
    -moz-animation:showOrder 0.6s; 
    -webkit-animation:showOrder 0.6s; 
    -o-animation:showOrder 0.6s; 
    -webkit-animation-fill-mode:forwards;
    animation-fill-mode: forwards;
}
@keyframes showOrder
{
from {margin-top: 100%}
to {margin-top:0%}
}

@-moz-keyframes showOrder
{
from {margin-top: 100%}
to {margin-top:0%}
}

@-webkit-keyframes showOrder
{
from {margin-top: 100%}
to {margin-top:0%}
}

@-o-keyframes showOrder
{
from {margin-top: 100%}
to {margin-top:0%}
}